<h1>Add Collaborator</h1>

<%= form_for [@wiki, @collaboration] do |f| %>

  <% if @wiki.errors.any? %>
     <div class="alert alert-danger">
       <h4>There are <%= pluralize(@wiki.errors.count, "error") %>.</h4>
       <ul>
         <% @wiki.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
  <% end %>

  <%= form_group_tag(@wiki.errors[:user]) do %>
    <%= f.label :user %>
    <%= f.select :user_id, options_from_collection_for_select(User.all, "id", "email") %>
  <% end %>

  <div class="form-group">
     <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
<% end %>
